In [2]:
import pandas as pd

In [ ]:
crime_data = pd.read_csv('crime.csv')
crime_data.head()

In [ ]:
crime_data.shape

In [ ]:
crime_data.Year.value_counts()

In [3]:
# read excel file 
df = pd.read_excel('CRM02.xls', sheetname=None)
#reads in as a dictionary of datframe

In [4]:
#selectin sheet from dictionary to a dataframe
CRM2_1 = df['Sheet1']

In [5]:
CRM2_1

,Areaname,STCOU,CRM170187F,CRM170187D,CRM170187N1,CRM170187N2,CRM170188F,CRM170188D,CRM170188N1,CRM170188N2,...,CRM170194N1,CRM170194N2,CRM170195F,CRM170195D,CRM170195N1,CRM170195N2,CRM170196F,CRM170196D,CRM170196N1,CRM170196N2
0,UNITED STATES,0,0,826607,0,0,0,795864,0,0,...,0,0,0,1014340,0,0,1,915202,7024,0
1,ALABAMA,1000,0,16038,0,0,0,15539,0,0,...,0,0,0,16821,0,0,0,14867,0,0
2,"Autauga, AL",1001,0,127,0,0,0,168,0,0,...,0,0,0,87,0,0,0,97,0,0
3,"Baldwin, AL",1003,0,176,0,0,0,190,0,0,...,0,0,0,244,0,0,0,225,0,0
4,"Barbour, AL",1005,0,98,0,0,0,89,0,0,...,0,0,0,40,0,0,1,38,7020,0
5,"Bibb, AL",1007,0,0,0,0,0,1,0,0,...,7020,0,1,6,7020,0,1,3,7020,0
6,"Blount, AL",1009,0,23,0,0,0,73,0,0,...,7020,0,1,15,7020,0,1,16,7020,0
7,"Bullock, AL",1011,0,2,0,0,0,1,0,0,...,7020,0,1,10,7020,0,1,17,7020,0
8,"Butler, AL",1013,0,147,0,0,0,145,0,0,...,7020,0,1,72,7020,0,1,84,7020,0
9,"Calhoun, AL",1015,0,794,0,0,0,700,0,0,...,0,0,0,734,0,0,0,777,0,0
10,"Chambers, AL",1017,0,158,0,0,0,132,0,0,...,0,0,0,201,0,0,0,179,0,0
11,"Cherokee, AL",1019,0,16,0,0,0,24,0,0,...,7020,0,0,39,0,0,1,38,7020,0
12,"Chilton, AL",1021,0,53,0,0,0,59,0,0,...,7020,0,1,184,7020,0,1,195,7020,0
13,"Choctaw, AL",1023,0,10,0,0,0,6,0,0,...,7020,0,0,6,0,0,1,0,7020,0
14,"Clarke, AL",1025,0,39,0,0,0,36,0,0,...,7020,0,1,16,7020,0,1,100,7020,0
15,"Clay, AL",1027,0,2,0,0,0,1,0,0,...,7020,0,0,12,0,0,0,11,0,0
16,"Cleburne, AL",1029,0,6,0,0,0,4,0,0,...,0,0,0,23,0,0,0,9,0,0
17,"Coffee, AL",1031,0,143,0,0,0,186,0,0,...,7020,0,1,67,7020,0,1,41,7020,0
18,"Colbert, AL",1033,0,80,0,0,0,110,0,0,...,7020,0,1,75,7020,0,1,59,7020,0
19,"Conecuh, AL",1035,0,10,0,0,0,7,0,0,...,0,0,0,26,0,0,0,23,0,0
20,"Coosa, AL",1037,0,30,0,0,0,4,0,0,...,0,0,0,102,0,0,0,69,0,0
21,"Covington, AL",1039,0,77,0,0,0,85,0,0,...,0,0,0,70,0,0,1,81,7020,0
22,"Crenshaw, AL",1041,0,15,0,0,0,10,0,0,...,7020,0,0,27,0,0,0,30,0,0
23,"Cullman, AL",1043,0,40,0,0,0,53,0,0,...,7020,0,0,138,0,0,0,134,0,0
24,"Dale, AL",1045,0,195,0,0,0,178,0,0,...,7020,0,1,219,7020,0,1,108,7020,0
25,"Dallas, AL",1047,0,749,0,0,0,553,0,0,...,0,0,0,657,0,0,0,533,0,0
26,"DeKalb, AL",1049,0,74,0,0,0,104,0,0,...,0,0,0,16,0,0,0,21,0,0
27,"Elmore, AL",1051,0,185,0,0,0,170,0,0,...,7020,0,1,145,7020,0,0,84,0,0
28,"Escambia, AL",1053,0,89,0,0,0,81,0,0,...,0,0,0,51,0,0,0,39,0,0
29,"Etowah, AL",1055,0,445,0,0,0,417,0,0,...,0,0,0,610,0,0,0,706,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3168,"Washington, WI",55131,0,42,0,0,0,46,0,0,...,0,0,0,62,0,0,0,66,0,0
3169,"Waukesha, WI",55133,0,137,0,0,0,179,0,0,...,0,0,0,190,0,0,0,225,0,0
3170,"Waupaca, WI",55135,0,19,0,0,0,17,0,0,...,0,0,0,27,0,0,0,18,0,0
3171,"Waushara, WI",55137,0,8,0,0,0,19,0,0,...,0,0,0,1,0,0,0,0,0,0
3172,"Winnebago, WI",55139,0,96,0,0,0,76,0,0,...,7020,0,0,151,0,0,0,130,0,0
3173,"Wood, WI",55141,0,74,0,0,0,99,0,0,...,0,0,0,29,0,0,0,25,0,0
3174,WYOMING,56000,0,1128,0,0,0,1281,0,0,...,0,0,0,953,0,0,0,958,0,0
3175,"Albany, WY",56001,0,45,0,0,0,51,0,0,...,0,0,0,54,0,0,1,92,7020,0
3176,"Big Horn, WY",56003,0,18,0,0,0,19,0,0,...,7020,0,0,24,0,0,1,21,7020,0
3177,"Campbell, WY",56005,0,73,0,0,0,132,0,0,...,0,0,0,105,0,0,0,128,0,0
3178,"Carbon, WY",56007,0,27,0,0,0,25,0,0,...,7020,0,1,29,7020,0,1,33,7020,0
3179,"Converse, WY",56009,0,36,0,0,0,27,0,0,...,0,0,0,24,0,0,1,26,7020,0
3180,"Crook, WY",56011,0,25,0,0,0,16,0,0,...,0,0,0,16,0,0,0,18,0,0
3181,"Fremont, WY",56013,0,120,0,0,0,129,0,0,...,0,0,0,50,0,0,0,46,0,0
3182,"Goshen, WY",56015,0,12,0,0,0,29,0,0,...,0,0,0,29,0,0,0,30,0,0
3183,"Hot Springs, WY",56017,0,12,0,0,0,28,0,0,...,7020,0,1,8,7020,0,1,11,7020,0
3184,"Johnson, WY",56019,0,8,0,0,0,4,0,0,...,0,0,0,8,0,0,0,10,0,0
3185,"Laramie, WY",56021,0,109,0,0,0,95,0,0,...,0,0,0,75,0,0,0,85,0,0
3186,"Lincoln, WY",56023,0,34,0,0,0,46,0,0,...,0,0,1,19,7020,0,1,29,7020,0
3187,"Natrona, WY",56025,0,217,0,0,0,245,0,0,...,0,0,0,174,0,0,0,117,0,0
3188,"Niobrara, WY",56027,0,2,0,0,0,4,0,0,...,0,0,0,14,0,0,0,3,0,0
3189,"Park, WY",56029,0,36,0,0,0,36,0,0,...,0,0,0,45,0,0,0,12,0,0
3190,"Platte, WY",56031,0,16,0,0,0,36,0,0,...,0,0,0,13,0,0,0,26,0,0
3191,"Sheridan, WY",56033,0,16,0,0,0,38,0,0,...,0,0,0,21,0,0,0,36,0,0
3192,"Sublette, WY",56035,0,7,0,0,0,2,0,0,...,0,0,0,25,0,0,0,15,0,0
3193,"Sweetwater, WY",56037,0,178,0,0,0,196,0,0,...,7020,0,1,138,7020,0,1,123,7020,0
3194,"Teton, WY",56039,0,15,0,0,0,20,0,0,...,0,0,1,14,7020,0,0,23,0,0
3195,"Uinta, WY",56041,0,89,0,0,0,61,0,0,...,7020,0,0,35,0,0,0,39,0,0
3196,"Washakie, WY",56043,0,21,0,0,0,31,0,0,...,0,0,0,25,0,0,0,31,0,0
3197,"Weston, WY",56045,0,12,0,0,0,11,0,0,...,0,0,0,8,0,0,0,4,0,0

In [6]:
col = list(CRM2_1.columns)

In [ ]:
col

In [7]:
#list of columns that i want
want_col =['Areaname']
for item in col:
    if 'D' == item[-1]:
        want_col.append(item)

In [62]:
want_col

['Areaname',
 u'CRM170187D',
 u'CRM170188D',
 u'CRM170189D',
 u'CRM170190D',
 u'CRM170191D',
 u'CRM170192D',
 u'CRM170193D',
 u'CRM170194D',
 u'CRM170195D',
 u'CRM170196D']

In [8]:
#Created datframe that I want all data in
CRM1 = CRM2_1[want_col]

In [28]:
CRM1.head()

,Areaname,CRM170187D,CRM170188D,CRM170189D,CRM170190D,CRM170191D,CRM170192D,CRM170193D,CRM170194D,CRM170195D,CRM170196D
0,UNITED STATES,826607,795864,923197,1015276,1042347,1080356,1069142,1058717,1014340,915202
1,ALABAMA,16038,15539,16562,20206,24766,19647,23254,19185,16821,14867
2,"Autauga, AL",127,168,139,198,263,328,268,145,87,97
3,"Baldwin, AL",176,190,210,168,254,228,284,224,244,225
4,"Barbour, AL",98,89,76,85,94,22,107,55,40,38

In [46]:
list(CRM1.columns)

[u'Areaname',
 u'CRM170187D',
 u'CRM170188D',
 u'CRM170189D',
 u'CRM170190D',
 u'CRM170191D',
 u'CRM170192D',
 u'CRM170193D',
 u'CRM170194D',
 u'CRM170195D',
 u'CRM170196D']

In [29]:
#Created fucntion to do the same for every sheet
def sort_col(sheet):
    col = list(sheet.columns)
    want_col =['Areaname']
    for item in col:
        if 'D' == item[-1]:
            want_col.append(item)
            
    return sheet[want_col]

In [30]:
df.keys()

[u'Sheet10',
 u'Sheet5',
 u'Sheet4',
 u'Sheet7',
 u'Sheet6',
 u'Sheet1',
 u'Sheet3',
 u'Sheet2',
 u'Sheet9',
 u'Sheet8']

In [63]:
# Running my function on all the sheets
CRM2_2 = sort_col(df['Sheet2'])
CRM2_3 = sort_col(df['Sheet3'])
CRM2_4 = sort_col(df['Sheet4'])
CRM2_5 = sort_col(df['Sheet5'])
CRM2_6 = sort_col(df['Sheet6'])
CRM2_7 = sort_col(df['Sheet7'])
CRM2_8 = sort_col(df['Sheet8'])
CRM2_9 = sort_col(df['Sheet9'])
CRM2_10 = sort_col(df['Sheet10'])
CRM2_fin =  pd.concat([CRM2_2, CRM2_3, CRM2_4, CRM2_5, CRM2_6, CRM2_7, CRM2_8, CRM2_9, CRM2_10], axis=1, join_axes=[CRM2_2.Areaname])

In [64]:
#making sure my function worked 
CRM2_fin.shape

(3198, 99)

In [65]:
CRM2_fin.head()

,Areaname,CRM170197D,CRM170198D,CRM170199D,CRM170200D,CRM170201D,CRM170202D,CRM170203D,CRM170204D,CRM170205D,...,CRM250193D,CRM250194D,CRM250195D,CRM250196D,CRM250197D,CRM250198D,CRM250199D,CRM250200D,CRM250201D,CRM250202D
Areaname,,,,,,,,,,,,,,,,,,,,,
UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALABAMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Autauga, AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Baldwin, AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Barbour, AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# reading in the other crime files, and repeating the same steps
df_crm1 = pd.read_excel('CRM01.xls', sheetname=None)
df_crm3 = pd.read_excel('CRM03.xls', sheetname=None)
crm1_keys = list(df_crm1.keys())
crm3_keys = list(df_crm3.keys())

In [34]:
print (crm3_keys)
print (crm1_keys)

[u'Sheet4', u'Sheet1', u'Sheet3', u'Sheet2']
[u'Sheet10', u'Sheet5', u'Sheet4', u'Sheet7', u'Sheet6', u'Sheet1', u'Sheet3', u'Sheet2', u'Sheet9', u'Sheet8']

In [35]:
#for excel sheet 1
CRM1_1 = sort_col(df_crm1['Sheet1'])
CRM1_2 = sort_col(df_crm1['Sheet2'])
CRM1_3 = sort_col(df_crm1['Sheet3'])
CRM1_4 = sort_col(df_crm1['Sheet4'])
CRM1_5 = sort_col(df_crm1['Sheet5'])
CRM1_6 = sort_col(df_crm1['Sheet6'])
CRM1_7 = sort_col(df_crm1['Sheet7'])
CRM1_8 = sort_col(df_crm1['Sheet8'])
CRM1_9 = sort_col(df_crm1['Sheet9'])
CRM1_10 = sort_col(df_crm1['Sheet10'])
CRM1_fin =  pd.concat([CRM1_1, CRM1_2,CRM1_3, CRM1_4, CRM1_5, CRM1_6, CRM1_7, CRM1_8, CRM1_9, CRM1_10])
#excel sheet 3
CRM3_1 = sort_col(df_crm3['Sheet1'])
CRM3_2 = sort_col(df_crm3['Sheet2'])
CRM3_3 = sort_col(df_crm3['Sheet3'])
CRM3_4 = sort_col(df_crm3['Sheet4'])
CRM3_fin =  pd.concat([CRM3_1, CRM3_2,CRM3_3, CRM3_4])

In [36]:
#Combining all the crime datasetes
data =  pd.concat([CRM1_fin, CRM2_fin, CRM3_fin])

In [37]:
data.shape

(73554, 225)

In [38]:
data.head()

,Areaname,CRM110181D,CRM110182D,CRM110183D,CRM110184D,CRM110185D,CRM110186D,CRM110187D,CRM110188D,CRM110189D,...,CRM260199D,CRM260200D,CRM260201D,CRM260202D,CRM260203D,CRM260204D,CRM260205D,CRM260206D,CRM260207D,CRM260208D
0,UNITED STATES,1290984.0,1258669.0,1213412.0,1186852.0,1305302.0,1456793.0,1439560.0,1376000.0,1602043.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALABAMA,17871.0,17265.0,16240.0,16858.0,18105.0,22009.0,21996.0,21680.0,23626.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Autauga, AL",127.0,142.0,129.0,91.0,94.0,197.0,140.0,206.0,163.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Baldwin, AL",243.0,309.0,299.0,423.0,288.0,135.0,224.0,240.0,267.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Barbour, AL",91.0,90.0,85.0,94.0,93.0,74.0,109.0,103.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
data1 = data[["Areaname",'CRM110181D', 'CRM110182D', 'CRM110183D', 'CRM110184D', 'CRM110185D', 'CRM110186D', 'CRM110187D', 'CRM110188D', 'CRM110189D','CRM110190D', 'CRM110191D', 'CRM110192D', 'CRM110193D', 'CRM110194D', 'CRM110195D', 'CRM110196D', 'CRM110197D', 'CRM110198D', 'CRM110199D', 'CRM110200D', 'CRM110201D', 'CRM110202D', 'CRM110203D', 'CRM110204D', 'CRM110205D', 'CRM110206D', 'CRM110207D', 'CRM110208D', u'CRM210205D',
 u'CRM210203D',
 u'CRM210185D',
 u'CRM210193D',
 u'CRM210201D',
 u'CRM210199D',
 u'CRM210207D',
 u'CRM210189D',
 u'CRM210190D',
 u'CRM210186D',
 u'CRM210196D',
 u'CRM210194D',
 u'CRM210182D',
 u'CRM210188D',
 u'CRM210204D',
 u'CRM210202D',
 u'CRM210192D',
 u'CRM210184D',
 u'CRM210200D',
 u'CRM210208D',
 u'CRM210198D',
 u'CRM210206D',
 u'CRM210187D',
 u'CRM210191D',
 u'CRM210181D',
 u'CRM210197D',
 u'CRM210183D',
 u'CRM210195D']]

In [40]:
# checking to make sure dataframe was 
data1.shape

(73554, 57)

In [41]:
data.shape

(73554, 225)

In [44]:
data1.to_csv('all_crime_cleaned3.csv')

In [45]:
data1.head()

,Areaname,CRM110181D,CRM110182D,CRM110183D,CRM110184D,CRM110185D,CRM110186D,CRM110187D,CRM110188D,CRM110189D,...,CRM210200D,CRM210208D,CRM210198D,CRM210206D,CRM210187D,CRM210191D,CRM210181D,CRM210197D,CRM210183D,CRM210195D
0,UNITED STATES,1290984.0,1258669.0,1213412.0,1186852.0,1305302.0,1456793.0,1439560.0,1376000.0,1602043.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALABAMA,17871.0,17265.0,16240.0,16858.0,18105.0,22009.0,21996.0,21680.0,23626.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Autauga, AL",127.0,142.0,129.0,91.0,94.0,197.0,140.0,206.0,163.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Baldwin, AL",243.0,309.0,299.0,423.0,288.0,135.0,224.0,240.0,267.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Barbour, AL",91.0,90.0,85.0,94.0,93.0,74.0,109.0,103.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
c = data1[data1.notnull()]

In [61]:
c.shape

(73554, 57)

In [52]:
bk = c[c.Areaname == 'Kings, NY']

In [54]:
bk

,Areaname,CRM110181D,CRM110182D,CRM110183D,CRM110184D,CRM110185D,CRM110186D,CRM110187D,CRM110188D,CRM110189D,...,CRM210200D,CRM210208D,CRM210198D,CRM210206D,CRM210187D,CRM210191D,CRM210181D,CRM210197D,CRM210183D,CRM210195D
1886,"Kings, NY",157080.0,144111.0,132766.0,132462.0,135336.0,143325.0,148422.0,162978.0,169542.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,509152.0,NaN,569765.0,NaN,491490.0,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,240710.0,NaN,NaN,509720.0,NaN,264845.0,NaN,328098.0
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,215863.0,150987.0,NaN,154755.0,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,"Kings, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN